<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.company.entity.Account">
    <!--@mbg.generated-->
    <!--@Table account-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UID" jdbcType="INTEGER" property="uid" />
    <result column="MONEY" jdbcType="DOUBLE" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `UID`, MONEY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from account
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from account
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.entity.Account">
    <!--@mbg.generated-->
    insert into account (ID, `UID`, MONEY
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{money,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.entity.Account">
    <!--@mbg.generated-->
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="uid != null">
        `UID`,
      </if>
      <if test="money != null">
        MONEY
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.entity.Account">
    <!--@mbg.generated-->
    update account
    <set>
      <if test="uid != null">
        `UID` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DOUBLE}
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.entity.Account">
    <!--@mbg.generated-->
    update account
    set `UID` = #{uid,jdbcType=INTEGER},
      MONEY = #{money,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
<!--auto generated by MybatisCodeHelper on 2021-02-27-->
  <select id="queryAllByMoney" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from account
    where MONEY=#{money,jdbcType=DOUBLE}
  </select>
</mapper>